/* 
* {
  
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
  background-color: #060208;
}

h2 {
  color: #ffffff;
  font-family: -we-webkit-pictograph;
  margin-left: 100px;
}

#redBoxlogo {
  display: flex;
  margin-left: 12.5%;
  font-size: x-large;
  font-family: -webkit-pictograph;
}

#redBoxlogo a {
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  vertical-align: top;
}

#redBoxlogo img {
  
  height: 1.6em;
  width: auto;
}

#gradBackground {
  background-color: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 1%,
    rgba(181, 39, 114, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );

  width: auto;
  height: 160px;
  margin: 0 auto;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}


.navClass {
  
  text-decoration: none;
  font-family: -webkit-pictograph;
  color: #ffffff;
  
}
#search {
  margin-left: 75%;
}

/*----------------------------------------------   
--Banner slider with via https://codepen.io/JyothiLakkavaram
-----------------------------------------------  */
@keyframes slide
        {
             0%{left:0%;}
            9%{left:0%;}
            18%{left:-100%;}
            27%{left:-100%;}
            36%{left:-200%;}
            45%{left:-200%;}
            54%{left:-300%;}
            63%{left:-300%;}
            72%{left:-400%;}
            81%{left:-400%;}
            90%{left:-500%;}
            100%{left:-500%;}
        }

        #slider 
        {
            overflow: hidden;
           
        }

       #slider figure
        {
            position:relative;
            width:600%;
            margin: 0px;
            left:0px;
            text-align:left;
            animation: 20s slide infinite;
            
        }

        #slider figure img
        {
            float:left;
            min-width:16.6666%;
            max-width: 100%;
            min-height: 25%;
            max-height: 1460px;
            justify-content: space-between;
          
               
        }

        
     

        /*----------------------------------------------
        End of banner key frames
        --------------------------------------------*/

        /*-----------Movie tracks --------*/

        .track { 
          display:flex;
          align-content: center;
          justify-content: space-around;
          margin-inline-start: 100px;
          margin-inline-end: 100px;


        }